#insertdata{
    background-color: darkorange;
    border-color: darkorange;
}

#ver_equipos{
    background-color: cadetblue;
    border-color: cadetblue;
}

#regresar{
    background-color: burlywood;
    border-color: burlywood;
}